
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="border-4 border-blue-600" name="f1" action="~/Views/SinhVien_63134417/Register" method="post">
    <h2 class="p-2">Register</h2>

</form>

